---
import Hero from "../components/organisms/Hero.astro";
import ScrollingContainer from "../components/organisms/ScrollingContainer.astro";
import CardServices from "../components/molecules/CardServices.astro";
import MainLayout from "../layouts/MainLayout.astro";
import SectionCases from "../components/organisms/SectionCases.astro";

import services from "../data/services.json";

// Fetcher data fra databasen og ligger i konstanten 'data'
const url = import.meta.env.CASES_URL;
const key = import.meta.env.CASES_KEY;

const caseData = await fetch(url, {
  method: "GET",
  headers: {
    apikey: key,
  },
}).then((res) => res.json());

const sortedData = [...caseData].sort((a, b) => a.id - b.id);
---

<MainLayout title="Services | Twentyfour">
  <section id="hero" class="">
    <Hero title="Services" text="Vi skaber skræddersyede digitale løsninger, der passer til dine behov. Med over 10 års erfaring og et tværfagligt team, der kombinerer teknologi, design og problemløsning, hjælper vi dig med at udvikle løsninger, der skaber værdi for både din forretning og brugerne. Vi tilbyder full-service løsninger, fra idé til implementering." />
  </section>
  <section id="services" class="section-main">
    <ul class="grid lg:grid-cols-4 gap-5">
      {
        services.map((service) => {
          return <CardServices data={service} />;
        })
      }
    </ul>
  </section>
  <section class="full-bleed section-main">
    <article class="place-content-center">
      <h1 class="text-heading-tagline text-text-secondary pb-2">Proces</h1>
      <h2 class="text-heading-small text-text-primary pb-10">Hvad skal der ske herfra?</h2>
    </article>
    <ScrollingContainer />
  </section>
  <section class="py-8 lg:pb-32"><SectionCases data={sortedData} /></section>
</MainLayout>
