---
const { filter } = Astro.props;
---

<button data-filter={filter} class="capitalize px-1 cursor-pointer border-b-2 border-b-transparent hover:border-b-border-primary focus-visible:outline-1 focus-visible:rounded-small">{filter}</button>
