---
const { filter } = Astro.props;
---

<button data-filter={filter} class="capitalize px-1 cursor-pointer hover:border-b-2 hover:border-b-brand-raspberry border-b-brand-raspberry focus-visible:outline-1 focus-visible:rounded-small">{filter}</button>
