---
const { data } = Astro.props;
---

<li class="@container">
  <article class="grid gap-4 @3xs:grid-cols-[1fr_2fr]">
    <div class="aspect-square bg-border-accent rounded-small mb-2"></div>
    <footer class="self-start grid gap-3">
      <div>
        <h3>{data.name}</h3>
        <p class="text-text-secondary text-body-tiny">{data.title}</p>
      </div>
      <ul>
        <li class="text-body-small font-medium">{data.tel}</li>
        <li class="text-body-small font-medium">{data.email}</li>
      </ul>
    </footer>
  </article>
</li>
