---
const { data } = Astro.props;

const quote = data.find((item) => item.quote)?.quote;
const by = data.find((item) => item.by)?.by;
---

<section class="section-main grid place-content-center">
  <div class="max-w-3xl grid gap-4">
    <p class="heading-medium text-text-primary">{quote}</p>
    <p class="flex gap-2 before:content-['-'] text-text-secondary text-body-large">{by}</p>
  </div>
</section>
