---
import Link from "../atoms/Link.astro";
import Button from "../atoms/Button.astro";
import { Icon } from "astro-icon/components";
import ModeToggle from "../molecules/ModeToggle.astro";
---

<footer class="grid grid-cols-4 lg:grid-cols-12 lg:grid-rows-5 px-[max(1rem,_50%_-_var(--content-width)_/_2)] overflow-hidden section-main relative lg:gap-x-6">
  <article class="pb-10 lg:pb-20 col-start-1 row-start-2 lg:row-span-3 lg:row-start-2 z-10">
    <h1 class="heading-xlarge text-text-primary pb-10 lg:pb-20">Skal vi tage en snak<br />om dit næste projekt?</h1>
    <Button size="base" id="openModalBtnDesk">Kontakt os</Button>
  </article>

  <section class="grid gap-7 col-start-1 row-start-5 row-span-1 z-10">
    <section class="lg:flex lg:justify-between lg:items-center pb-6 lg:pb-0 border-b border-b-border-secondary">
      <ul class="lg:flex lg:flex-row lg:items-center gap-7 heading-small text-text-primary">
        <li class="pb-4 lg:pb-0"><a href="tel:+45 42 41 61 60">+45 42 41 61 60</a></li>
        <li class="pb-6 lg:pb-0"><a href="mailto:info@twentyfour.dk">info@twentyfour.dk</a></li>
      </ul>
      <!-- <div class="self-end">toggle</div> -->
      <ModeToggle />
    </section>

    <section class="lg:flex lg:gap-4 lg:justify-between lg: z-10">
      <div class="lg:flex lg:flex-row pb-6 lg:pb-0 lg:gap-4">
        <Icon name="logo" class="text-text-primary text-heading-small" />
        <ul class="lg:flex lg:flex-row lg:gap-4">
          <li><p class="text-text-secondary py-2 lg:py-0">CVR. nr. 33757883</p></li>
          <li><p class="text-text-secondary">Center Blvd. 5, indgang 7, 2300 København S</p></li>
        </ul>
      </div>
      <div>
        <ul class="lg:flex lg:flex-row lg:gap-4">
          <li class="pb-2 lg:pb-0"><Link href="/build" variant="LinkPrimary" target="_blank" size="p-0">Cookiepolitik</Link></li>
          <li>
            <Link href="https://dk.linkedin.com/company/twentyfourdigitalagency" variant="LinkPrimary" target="_blank" size="p-0">Linkedin</Link>
          </li>
        </ul>
      </div>
    </section>
  </section>

  <div class="col-start-3 col-span-1 row-start-1 row-span-1 lg:col-start-4"><Icon name="fan" class="text-graphic-medium" /></div>
  <div class="col-start-3 col-span-1 row-start-3 row-span-1 lg:col-start-10 lg:row-start-4"><Icon name="butterfly" class="text-graphic-small" /></div>
  <div class="col-start-3 col-span-2 row-span-2 row-start-4 lg:col-start-11 lg:row-start-4 relative right-[-12vw]"><Icon name="square" class="text-graphic-large" /></div>
</footer>
<!-- lg:h-[90vh] lg:min-h-[800px] lg:max-h-[1000px] -->
