---
import { Icon } from "astro-icon/components";
import Link from "../atoms/Link.astro";

const { title, text, variant, button } = Astro.props;
---

<section class=" grid grid-cols-4 lg:grid-cols-12 grid-rows-[repeat(2,_auto)] lg:max-h-[525px]  gap-6 lg:gap-x-6 border-b border-b-border-secondary">
  <article class="col-start-1 col-span-4 row-start-2 row-span-2 lg:col-span-6 lg:row-span-2  pb-32">
    <h1 class="heading-xlarge pb-3 lg:pb-5">{title}</h1>
    <p class="text-body-large text-text-secondary lg:max-w-2xl mb-8">{text}</p>
    {button && <Link variant="ButtonSecondary"icon ="arrow-left" iconPosition="left" >Gå tilbage hvor du kom fra</Link> }
  </article>
 { variant == "default" &&
 ( 
     <div class="col-start-3 row-start-4 lg:col-start-9 lg:row-start-2"><Icon name="butterfly" class="text-graphic-small" /></div>
      <div class=" col-start-4 row-start-4 lg:row-start-2 lg:col-start-11  lg:col-span-2"><Icon name="flower" class="text-graphic-large" /></div>
      <div class=" col-start-3 row-start-1"><Icon name="fan" class="text-graphic-medium" /></div>
      
 )}
</section>

