---
import Button from "../atoms/Button.astro";
import { Icon } from "astro-icon/components";
---

<section class="grid grid-cols-4 lg:grid-cols-12 grid-rows-5 lg:grid-rows-6 h-[90vh] min-h-[500px] md:max-h-[600px] lg:min-h-[600px] lg:max-h-[1000px] gap-4 p-4">
  <article class="grid grid-cols-[subgrid] grid-rows-[subgrid] col-start-1 col-span-4 lg:col-span-9 row-start-3 row-span-2 z-10">
    <h1 class="contents text-heading-huge">
      <span class="col-start-1 col-span-2 lg:col-span-6 row-start-1 row-span-1 place-self-center">Digitalt</span>
      <span class="col-start-2 col-span-2 lg:col-start-4 lg:col-span-6 row-start-2 row-span-1">Bureau</span>
    </h1>
    <p class="text-body-base col-start-3 lg:col-start-7 col-span-2 md:col-span-3 row-start-1 flex flex-col self-center ml-5">
      <span class="flex items-center gap-2">
        <Icon name="logomark" role="img" aria-label="Twentyfour" class="text-body-large" />
        har fokus på løsninger,
      </span>
      <span>der passer til dig</span>
    </p>
  </article>

  <Icon name="ring" class="col-start-1 row-start-1 row-span-1 lg:col-span-2 text-graphic-medium" />
  <Icon name="flower" class="col-start-3 lg:col-start-10 row-start-1 place-content-end text-graphic-small" />
  <Icon name="butterfly" class="col-start-4 lg:col-start-11 col-span-2 row-start-2 row-span-2 text-graphic-large" />
  <Icon name="square" class="col-start-1 row-start-5 lg:col-start-2 lg:col-span-2 lg:row-start-5 lg:row-span-2 text-graphic-medium" />
</section>

<style>
  .gradient1 {
  }
</style>
